html { 
    scroll-behavior: smooth; 
  }
  
  body{
	font-family: 'atrament-web', sans-serif;
    font-weight: 700;
    font-style: normal;
	line-height: 1.7;
	color: #ececee;
	background-color: #1f2029;
	overflow: hidden;
  background-image: url('19images/neon-light-hero-4k-os-1.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  height: 80px;
  width: 20px;
}
.section-center{
  position: auto;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}
h1{
  font-family: 'atrament-web', sans-serif;
  font-weight: 800;
  font-size: 7vw;
  line-height: 1;
  color: #ffeba7;
  text-align: center;
  color: transparent;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #970974;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family:'atrament-web', sans-serif;;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #fcfcfc;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #970974;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}


.logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 80px;
	width: auto;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 20px;
  }
  .nav{
    right: 30px;
  }

  .nav ul li a{
    font-size: 8vh;
  }
}


@import url(https://fonts.googleapis.com/css?family=Khula:300,600,400);
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}


h1 {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  margin: 4.5% 0 0 4.5%;
}

h2 {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 4% 4.5%;
  color: #cc3638;
}

.profile-card {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 290px;
  max-width: 450px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: bouncein 1s;
  animation: bouncein 1s;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.profile-card > header {
  display: block;
  line-height: 0;
  width: 88%;
  max-width: 88%;
  background: rgb(0, 0, 0);
}

.profile-card > header > a {
  line-height: 0;
  display: block;
  background-image: url('https://raziraz.github.io/codepen/envato_contest/avatar-down.gif');
  background-size: 100% 100%;
}

.profile-card > header a > img {
  width: 100%;
}

.profile-card:hover > header a > img {
  opacity: 0;
}

.profile-card:hover > header + .profile-bio {
  max-height: 200px;
  -webkit-transition: max-height .5s ease-in;
  transition: max-height .5s ease-in;
}

.profile-card:hover > header + .profile-bio p {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

.profile-bio {
  clear: both;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 88%;
  width: 88%;
  max-height: 0;
  -webkit-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
  color: #fff;
  background: #0f6dc5;
  -webkit-order: 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.profile-bio p {
  margin: 4.5%;
  -webkit-animation: fadeout 2s;
  animation: fadeout 2s;
}

.profile-social-links {
  line-height: 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  max-width: 12%;
  width: 12%;
  margin: 0;
  padding: 3.5%;
  list-style-type: none;
  text-align: center;
  background: url('https://raziraz.github.io/codepen/envato_contest/razi-logo.png') #cc3638 no-repeat center 7%;
  background-image: url('https://raziraz.github.io/codepen/envato_contest/razi-logo.svg');
  background-size: 40% auto;
  flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-flex-pack: end;
  -ms-flex-pack: end;
}

.profile-social-links img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  -webkit-filter: saturate(0) brightness(100);
  filter: saturate(0) brightness(100);
}

.profile-social-links li:first-child {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.profile-social-links li:first-child:hover {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

.profile-social-links li:nth-child(2):hover {
  -webkit-animation: pulse .4s ease-in-out;
  animation: pulse .4s ease-in-out;
}

.profile-social-links li:last-child:hover {
  -webkit-animation: shake .7s ease-in-out;
  animation: shake .7s ease-in-out;
}

.profile-social-links li:last-child {
  -webkit-order: -1;  
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.profile-social-links li:last-child img {
  width: 90%;
  -webkit-filter: saturate(0) invert(100%);
  filter: saturate(0) invert(100%);
}

@media (max-width: 480px) {
  .profile-card {
    flex-direction: column;
    -webkit-flerowx-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
  .profile-card > header,
  .profile-bio {
    max-width: 100%;
    width: 100%;
  }
  .profile-bio {
    max-height: 100%;
  }
  .profile-card:hover > header + .profile-bio p,
  .profile-bio p {
    -webkit-animation: none;
    animation: none;
  }
  h1 {
    font-size: 16px;
  }
  h2 {
    line-height: 1.2;
    margin-top: 0.5%;
  }
  .profile-social-links {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    max-height: 70px;
    background: url('https://raziraz.github.io/codepen/envato_contest/razi-logo-mobile.png') #cc3638 no-repeat 4.5% center;
    background-image: url('https://raziraz.github.io/codepen/envato_contest/razi-logo-mobile.svg');
    background-size: auto 15px;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-order: -1;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .profile-social-links img {
    width: auto;
    height: 18px;
    margin-top: 0;
    margin-left: 8px;
    -webkit-filter: saturate(0) brightness(100);
    filter: saturate(0) brightness(100);
  }
  .profile-social-links li:last-child img {
    width: auto;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  40% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  60% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
  40% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  60% {
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes bouncein {
  0% {
    -webkit-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
  }
}

@keyframes bouncein {
  0% {
    -webkit-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
  }
}